/* You can add global styles to this file, and also import other style files */
body {
    background: url('assets/background.png')
}
.card-block .card-title {
    padding-left: 0px;
}
.form-inline .form-control.custom-input {
    width: 55%;
}